html {
    background-color: white;
    font-family: Roboto, Arial, sans-serif;
}

body {
    margin: 0;
}

li {
    line-height: 1.75;
}

table th,
table td {
    border: none !important;
}

[data-test="dhis2-uicore-singleselect-clear"] {
    margin-left: 5px;
}
